<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.0.0.4001" />
  <package id="FakeItEasy" version="1.7.4507.61" />
  <package id="nJupiter.Abstraction.Logging" version="1.1.0.392" />
  <package id="nJupiter.Configuration" version="4.0.2.341" />
  <package id="NUnit" version="2.5.10.11092" />
</packages>