<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<webService>
		<directoryService value="LocalWinNT" />
	</webService>
	<directoryServices>
		<directoryService value="nJupiterLDAP" default="true">
			<assemblyPath value=""/>
			<assembly value="nJupiter.DataAccess.DirectoryService" default="true"/>
			<type value="nJupiter.DataAccess.DirectoryService.Adapters.LdapDirectoryService"/>
			<settings>
				<host value="co.int"/>
				<port value="389"/>
				<base value="OU=People,OU=Stockholm,DC=co,DC=int"/>
				<userName value="username"/>
				<password value="password"/>
				<directoryObjectProperties>
					<property value="userPrincipalName" identity="true"/>
					<property value="sAMAccountName" />
					<property value="cn" />
					<property value="givenName"/>
					<property value="sn"/>
					<property value="description"/>
					<property value="telephoneNumber"/>
					<property value="mail" />
				</directoryObjectProperties>
			</settings>
		</directoryService>
		<directoryService value="nJupiterWS">
			<assemblyPath value=""/>
			<assembly value="nJupiter.DataAccess.DirectoryService"/>
			<type value="nJupiter.DataAccess.DirectoryService.Adapters.WSDirectoryService"/>
			<settings>
				<webServiceUrl value="http://localhost/nJupiter/nJupiter.DataAccess.DirectoryService/Web/DirectoryServiceWebService.asmx"/>
				<userName value=""/>
				<password value=""/>
			</settings>
		</directoryService>
	</directoryServices>
</configuration>