<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<rules value="BBCodeToXhtml" default="true">
		<rule pattern="\n"
			  replacement="&lt;br /&gt;" />
		<rule pattern="&lt;"
			  replacement="&amp;lt;" />
		<rule pattern="&gt;"
			  replacement="&amp;gt;" />			  

		<rule pattern="\[b\]((?:.|\n)*?)\[/b\]"
			  replacement="&lt;b&gt;$1&lt;/b&gt;" />
		<rule pattern="\[i\]((?:.|\n)*?)\[/i\]"
			  replacement="&lt;i&gt;$1&lt;/i&gt;" />
		<rule pattern="\[s\]((?:.|\n)*?)\[/s\]"
			  replacement="&lt;s&gt;$1&lt;/s&gt;" />
		<rule pattern="\[u\]((?:.|\n)*?)\[/u\]"
			  replacement="&lt;u&gt;$1&lt;/u&gt;" />
		
		<rule pattern="\[code\]((?:.|\n)*?)\[/code\]"
			  replacement="&lt;code&gt;$1&lt;/code&gt;" />
		<rule pattern="\[code=(.*?)\]((?:.|\n)*?)\[/code\]"
			  replacement="&lt;b&gt;$1&lt;/b&gt;&lt;code&gt;$2&lt;/code&gt;" />

		<rule pattern="\[url\]www\.(.*?)\[/url\]"
			  replacement="&lt;a href=&quot;http://www.$1&quot; title=&quot;$1&quot;&gt;$1&lt;/a&gt;" />
		<rule pattern="\[url\](.*?)\[/url\]"
			  replacement="&lt;a href=&quot;$1&quot; title=&quot;$1&quot;&gt;$1&lt;/a&gt;" />
		<rule pattern="\[url=&quot;(.*?)&quot;\]((?:.|\n)*?)\[/url\]"
			  replacement="&lt;a href=&quot;$1&quot; title=&quot;$1&quot;&gt;$2&lt;/a&gt;" />
		<rule pattern="\[url=(.*?)\]((?:.|\n)*?)\[/url\]"
			  replacement="&lt;a href=&quot;$1&quot; title=&quot;$1&quot;&gt;$2&lt;/a&gt;" />
		
		<rule pattern="\[email\](.*?)\[/email\]"
			  replacement="&lt;a href=&quot;mailto:$1&quot;&gt;$1&lt;/a&gt;" />
		<rule pattern="\[email=&quot;(.*?)&quot;\]((?:.|\n)*?)\[/email\]"
			  replacement="&lt;a href=&quot;mailto:$1&quot; title=&quot;$1&quot;&gt;$2&lt;/a&gt;" />
		<rule pattern="\[email=(.*?)\]((?:.|\n)*?)\[/email\]"
			  replacement="&lt;a href=&quot;mailto:$1&quot; title=&quot;$1&quot;&gt;$2&lt;/a&gt;" />
		
		<rule pattern="\[link\]((?:.|\n)*?)\[/link\]"
			  replacement="&lt;a href=&quot;$1&quot; title=&quot;$1&quot;&gt;$1&lt;/a&gt;" />
		<rule pattern="\[link=(.*?)\]((?:.|\n)*?)\[/link\]"
			  replacement="&lt;a href=&quot;$1&quot; title=&quot;$1&quot;&gt;$2&lt;/a&gt;" />

		<rule pattern="\[img\]((?:.|\n)*?)\[/img\]"
			  replacement="&lt;img src=&quot;$1&quot; alt=&quot;&quot; /&gt;" />
		<rule pattern="\[img=(\d+?)x(\d+?)\]((?:.|\n)*?)\[/img\]"
			  replacement="&lt;img width=&quot;$1&quot; height=&quot;$2&quot; src=&quot;$3&quot; alt=&quot;&quot; /&gt;" />

		<rule pattern="\[font=((?:.|\n)*?)\]((?:.|\n)*?)\[/font\]"
			  replacement="&lt;span style=&quot;font-family:$1;&quot;&gt;$1&lt;/span&gt;" />
		<rule pattern="\[color=(.+?)\]((?:.|\n)*?)\[/color\]"
			  replacement="&lt;span style=&quot;color:$1;&quot;&gt;$2&lt;/span&gt;" />
		<rule pattern="\[size=(\d+?)\]((?:.|\n)*?)\[/size\]"
			  replacement="&lt;span style=&quot;font-size:$1px;&quot;&gt;$2&lt;/span&gt;" />

		<rule pattern="\[left\]((?:.|\n)*?)\[/left]"
			  replacement="&lt;div style=&quot;text-align:left&quot;&gt;$1&lt;/div&gt;" />
		<rule pattern="\[center\]((?:.|\n)*?)\[/center]"
			  replacement="&lt;div style=&quot;text-align:center&quot;&gt;$1&lt;/div&gt;" />
		<rule pattern="\[right\]((?:.|\n)*?)\[/right]"
			  replacement="&lt;div style=&quot;text-align:right&quot;&gt;$1&lt;/div&gt;" />
		<rule pattern="\[align=(.*?)\]((?:.|\n)*?)\[/align\]"
			  replacement="&lt;span style=&quot;text-align:$1;&quot;&gt;$2&lt;/span&gt;" />
		<rule pattern="\[float=(.*?)\]((?:.|\n)*?)\[/float\]"
			  replacement="&lt;span style=&quot;float:$1;&quot;&gt;$2&lt;/div&gt;" />

		<rule pattern="\[youtube\](\w*?)\[/youtube\]"
			  replacement="&lt;object width=&quot;400&quot; height=&quot;325&quot;&gt;&lt;param name=&quot;movie&quot; value=&quot;http://www.youtube.com/v/$1&quot;&gt;&lt;/param&gt;&lt;embed src=&quot;http://www.youtube.com/v/$1&quot; type=&quot;application/x-shockwave-flash&quot; width=&quot;400&quot; height=&quot;325&quot;&gt;&lt;/embed&gt;&lt;/object&gt;" />

		<rule pattern="\[gvideo\](\w*?)\[/gvideo\]"
			  replacement="&lt;embed style=&quot;width:400px; height:325px;&quot; type=&quot;application/x-shockwave-flash&quot; src=&quot;http://video.google.com/googleplayer.swf?docId=-$1&amp;hl=en&quot;&gt;&lt;/embed&gt;" />

		<!--
		<rule pattern="\[\*]\s*([^\[]*)"
			  replacement="&lt;li&gt;$1&lt;/li&gt;" />
		<rule pattern="\[list\]((?:.|\n)*?)\[/list\]"
			  replacement="&lt;ul&gt;$1&lt;/ul&gt;" />
		<rule pattern="\[list=1\]((?:.|\n)*?)\[/list\]"
			  replacement="&lt;ol style=&quot;list-style:decimal;&quot;&gt;$1&lt;/ol&gt;"
			  caseSensitive="true" />
		<rule pattern="\[list=i\]((?:.|\n)*?)\[/list\]"
			  replacement="&lt;ol style=&quot;list-style:lower-roman;&quot;&gt;$1&lt;/ol&gt;"
			  caseSensitive="true" />
		<rule pattern="\[list=I\]((?:.|\n)*?)\[/list\]"
			  replacement="&lt;ol style=&quot;list-style:upper-roman;&quot;&gt;$1&lt;/ol&gt;"
			  caseSensitive="true" />
		<rule pattern="\[list=a\]((?:.|\n)*?)\[/list\]"
			  replacement="&lt;ol style=&quot;list-style:lower-alpha;&quot;&gt;$1&lt;/ol&gt;"
			  caseSensitive="true" />
		<rule pattern="\[list=A\]((?:.|\n)*?)\[/list\]"
			  replacement="&lt;ol style=&quot;list-style:upper-alpha;&quot;&gt;$1&lt;/ol&gt;"
			  caseSensitive="true" />
		-->

		<!-- quotes can be nested so we replace the opening and closing tags separatly -->
		<rule pattern="\[quote=(.*?)\]"
			  replacement="&lt;b class=&quot;quoted&quot;&gt;$1 wrote:&lt;/b&gt;&lt;q&gt;" />
		<rule pattern="\[quote\]"
			  replacement="&lt;q&gt;" />
		<rule pattern="\[/quote\]"
			  replacement="&lt;/q&gt;" />
	</rules>

	<rules value="BBCodeToText" default="true">

		<rule pattern="\[b\]((?:.|\n)*?)\[/b\]"
			  replacement="$1" />
		<rule pattern="\[i\]((?:.|\n)*?)\[/i\]"
			  replacement="$1" />
		<rule pattern="\[s\]((?:.|\n)*?)\[/s\]"
			  replacement="$1" />
		<rule pattern="\[u\]((?:.|\n)*?)\[/u\]"
			  replacement="$1" />

		<rule pattern="\[code\]((?:.|\n)*?)\[/code\]"
			  replacement="$1" />
		<rule pattern="\[code=(.*?)\]((?:.|\n)*?)\[/code\]"
			  replacement="$1" />

		<rule pattern="\[url\]www\.(.*?)\[/url\]"
			  replacement="www.$1" />
		<rule pattern="\[url\](.*?)\[/url\]"
			  replacement="$1" />
		<rule pattern="\[url=&quot;(.*?)&quot;\]((?:.|\n)*?)\[/url\]"
			  replacement="$2" />
		<rule pattern="\[url=(.*?)\]((?:.|\n)*?)\[/url\]"
			  replacement="$2" />

		<rule pattern="\[email\](.*?)\[/email\]"
			  replacement="$1" />
		<rule pattern="\[email=&quot;(.*?)&quot;\]((?:.|\n)*?)\[/email\]"
			  replacement="$2" />
		<rule pattern="\[email=(.*?)\]((?:.|\n)*?)\[/email\]"
			  replacement="$2" />

		<rule pattern="\[link\]((?:.|\n)*?)\[/link\]"
			  replacement="$1" />
		<rule pattern="\[link=(.*?)\]((?:.|\n)*?)\[/link\]"
			  replacement="$2" />

		<rule pattern="\[img\]((?:.|\n)*?)\[/img\]"
			  replacement="" />
		<rule pattern="\[img=(\d+?)x(\d+?)\]((?:.|\n)*?)\[/img\]"
			  replacement="" />

		<rule pattern="\[font=((?:.|\n)*?)\]((?:.|\n)*?)\[/font\]"
			  replacement="$1" />
		<rule pattern="\[color=(.+?)\]((?:.|\n)*?)\[/color\]"
			  replacement="$2" />
		<rule pattern="\[size=(\d+?)\]((?:.|\n)*?)\[/size\]"
			  replacement="$1" />

		<rule pattern="\[left\]((?:.|\n)*?)\[/left]"
			  replacement="$1" />
		<rule pattern="\[center\]((?:.|\n)*?)\[/center]"
			  replacement="$1" />
		<rule pattern="\[right\]((?:.|\n)*?)\[/right]"
			  replacement="$1" />
		<rule pattern="\[align=(.*?)\]((?:.|\n)*?)\[/align\]"
			  replacement="$2" />
		<rule pattern="\[float=(.*?)\]((?:.|\n)*?)\[/float\]"
			  replacement="$2" />

		<rule pattern="\[youtube\](\w*?)\[/youtube\]"
			  replacement="" />

		<rule pattern="\[gvideo\](\w*?)\[/gvideo\]"
			  replacement="" />

		<!-- quotes can be nested so we replace the opening and closing tags separatly -->
		<rule pattern="\[quote=(.*?)\]"
			  replacement="" />
		<rule pattern="\[quote\]"
			  replacement="" />
		<rule pattern="\[/quote\]"
			  replacement="" />
	</rules>

</configuration>