<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<ldapServers>
		<ldapServer value="Tivoli">
			<url value="LDAP://tivolildap.org:389/" />
			<username value="uid=ldapadmin,ou=service-account,ou=admin,o=tivolildap"/>
			<password value="password"/>
			<timeLimit value="30" />
			<pageSize value="1000" />
			<authenticationTypes>
				<authenticationType value="None" />
			</authenticationTypes>
			<rangeRetrievalSupport value="true" />
			<propertySortingSupport value="false" />
			<allowWildcardSearch value="true" />
			<users>
				<filter value="(objectClass=person)"/>
				<base value="ou=people,o=tivolildap" />
				<rdnAttribute value="uid" />
				<nameType value="cn" />
				<attributes>
					<!-- These attributes are loaded together with the LdapMembershipUser -->
					<!-- and also used by the FindUsersByName if excludeFromNameSearch not set to true -->
					<attribute value="givenName" />
					<attribute value="sn" />
					<attribute value="title" excludeFromNameSearch="true" />
				</attributes>
				<descriptionAttribute value="cn" />
				<membershipAttribute value="ibm-allGroups" />
				<emailAttribute value="mail" />
			</users>
			<groups>
				<filter value="(objectClass=groupOfNames)"/>
				<base value="ou=groups,o=tivolildap" />
				<rdnAttribute value="cn" />
				<nameType value="cn" />
				<membershipAttribute value="member" />
			</groups>			
		</ldapServer>
		<ldapServer value="Ad" default="true">
			<url value="LDAP://adldap.org:389/" />
			<username value="CN=ldapadmin,OU=admins,DC=adldap,DC=org"/>
			<password value="password"/>
			<authenticationTypes>
				<authenticationType value="None" />
			</authenticationTypes>
			<rangeRetrievalSupport value="false" />
			<propertySortingSupport value="true" />
			<allowWildcardSearch value="true" />			
			<users>
				<filter value="(sAMAccountType=805306368)"/>
				<base value="OU=People,DC=adldap,DC=org" />
				<rdnAttribute value="sAMAccountName" />
				<nameType value="cn" />
				<attributes>
					<!-- These attributes are loaded together with the LdapMembershipUser -->
					<!-- and also used by the FindUsersByName if excludeFromNameSearch not set to true -->
					<attribute value="cn" />
					<attribute value="givenName" />
					<attribute value="sn" />
					<attribute value="fullName" />
					<attribute value="title" excludeFromNameSearch="true" />
				</attributes>
				<creationDateAttribute value="whenCreated" />
				<lastLoginDateAttribute value="lastLogon" />
				<descriptionAttribute value="displayName" />
				<lastPasswordChangedDateAttribute value="pwdLastSet" />
				<membershipAttribute value="memberOf" />
				<emailAttribute value="mail" />
			</users>
			<groups>
				<filter value="(objectClass=group)"/>
				<base value="OU=Groups,DC=adldap,DC=org" />
				<rdnAttribute value="cn" />
				<nameType value="cn" />
				<attributes>
					<attribute value="cn" />
				</attributes>
				<membershipAttribute value="member" />
			</groups>
		</ldapServer>
		<ldapServer value="Adam">
			<url value="LDAP://adamldap.org:389/" />
			<username value="CN=ldapadmin,OU=admins,DC=adamldap,DC=org"/>
			<password value="password"/>
			<authenticationTypes>
				<authenticationType value="None" />
			</authenticationTypes>
			<rangeRetrievalSupport value="false" />
			<propertySortingSupport value="true" />
			<allowWildcardSearch value="true" />
			<users>
				<filter value="(&amp;(objectClass=user)(objectCategory=person))"/>
				<base value="OU=People,DC=adamldap,DC=org" />
				<rdnAttribute value="sAMAccountName" />
				<nameType value="cn" />
				<attributes>
					<!-- These attributes are loaded together with the LdapMembershipUser -->
					<!-- and also used by the FindUsersByName if excludeFromNameSearch not set to true -->
					<attribute value="cn"/>
					<attribute value="givenName"/>
					<attribute value="sn" />
					<attribute value="fullName" />
					<attribute value="title" excludeFromNameSearch="true" />
				</attributes>
				<creationDateAttribute value="whenCreated" />
				<lastLoginDateAttribute value="lastLogon" />
				<descriptionAttribute value="displayName" />
				<lastPasswordChangedDateAttribute value="pwdLastSet" />
				<membershipAttribute value="memberOf" />
				<emailAttribute value="mail" />
			</users>
			<groups>
				<filter value="(objectClass=group)"/>
				<base value="OU=Groups,DC=adamldap,DC=org" />
				<rdnAttribute value="cn" />
				<nameType value="cn" />
				<attributes>
					<attribute value="cn" />
				</attributes>
				<membershipAttribute value="member" />
			</groups>
		</ldapServer>

	</ldapServers>
</configuration>