<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<ldapServers>
		<ldapServer value="tivoli">
			<url value="LDAP://tivolildap.org:389/" />
			<username value="uid=ldapadmin,ou=service-account,ou=admin,o=tivolildap"/>
			<password value="password"/>
			<ldapType value="Generic" />
			<timeLimit value="30" />
			<pageSize value="1000" />
			<authenticationTypes>
				<authenticationType value="None" />
			</authenticationTypes>
			<rangeRetrievalSupport value="true" />
			<allowWildcardSearch value="true" />
			<users>
				<objectClass value="person"/>
				<base value="ou=people,o=tivolildap" />
				<rdnAttribute value="uid" />
				<nameType value="cn" />
				<nameAttributes>
					<nameAttribute value="givenName" />
					<nameAttribute value="sn" />
				</nameAttributes>
				<descriptionAttribute value="cn" />
				<membershipAttribute value="ibm-allGroups" />
				<emailAttribute value="mail" />
			</users>
			<groups>
				<objectClass value="groupOfNames"/>
				<base value="ou=groups,o=tivolildap" />
				<rdnAttribute value="cn" />
				<nameType value="cn" />
				<membershipAttribute value="member" />
			</groups>			
		</ldapServer>
		<ldapServer value="ad" default="true">
			<url value="LDAP://adldap.org:389/" />
			<username value="CN=ldapadmin,OU=admins,DC=adldap,DC=org"/>
			<password value="password"/>
			<ldapType value="AD" />
			<authenticationTypes>
				<authenticationType value="None" />
			</authenticationTypes>
			<rangeRetrievalSupport value="false" />
			<allowWildcardSearch value="true" />			
			<users>
				<objectClass value="user"/>
				<base value="OU=People,DC=adldap,DC=org" />
				<rdnAttribute value="sAMAccountName" />
				<nameType value="cn" />
				<nameAttributes>
					<nameAttribute value="cn" />
					<nameAttribute value="givenName" />
					<nameAttribute value="sn" />
					<nameAttribute value="fullName" />
				</nameAttributes>
				<creationDateAttribute value="whenCreated" />
				<lastLoginDateAttribute value="lastLogon" />
				<descriptionAttribute value="displayName" />
				<lastPasswordChangedDateAttribute value="pwdLastSet" />
				<membershipAttribute value="memberOf" />
				<emailAttribute value="mail" />
			</users>
			<groups>
				<objectClass value="group"/>
				<base value="OU=Groups,DC=adldap,DC=org" />
				<rdnAttribute value="sAMAccountName" />
				<nameType value="cn" />
				<nameAttributes>
					<nameAttribute value="cn" />
				</nameAttributes>
				<membershipAttribute value="member" />
			</groups>
		</ldapServer>
	</ldapServers>
</configuration>