<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<userRepositories>
		<userRepository name="SQLRepository"  default="true">
			<userRepositoryFactory
				qualifiedTypeName="nJupiter.DataAccess.Users.Sql.UserRepositoryFactory, nJupiter.DataAccess.Users.Sql"/>
			<settings>
				<dataSource value="SQLAdapter" />
				<hashPassword value="true" />
				<cache>
					<userCacheFactory
						 qualifiedTypeName="nJupiter.DataAccess.Users.Caching.HttpRuntimeUserCacheFactory, nJupiter.DataAccess.Users"/>
					<minutesInCache value="60" />
					<slidingExpiration value="false" />
					<cachePriority value="Normal" />
				</cache>
				<!-- Config for Generic Cache blow -->
				<!--
				<cache>
					<userCacheFactory
						qualifiedTypeName="nJupiter.DataAccess.Users.Caching.GenericUserCacheFactory, nJupiter.DataAccess.Users"/>
					<minutesToCacheUser value="60" />
					<maxUsersInCache value="1000" />
				</cache>
				-->
				<predefinedProperties>
					<firstName value="firstName" />
					<lastName value="lastName" />
					<description value="description" />
					<email value="email" />
					<homePage value="wwwHomePage" />
					<streetAddress value="address" />
					<company value="company" />
					<department value="department" />
					<city value="city" />
					<telephone value="telephoneNumber" />
					<homeTelephone value="homePhone" />
					<mobileTelephone value="mobile" />
					<postOfficeBox value="postOfficeBox" />
					<postalCode value="zipCode" />
					<country value="country" />
					<title value="title" />
					<passwordQuestion value="passwordQuestion" />
					<passwordAnswer value="passwordAnswer" />
					<lastActivityDate value="lastActivityDate" />
					<creationDate value="creationDate" />
					<lastLockoutDate value="lastLockoutDate" />
					<lastLoginDate value="lastLoginDate" />
					<lastPasswordChangedDate value="lastPasswordChangedDate" />
					<locked value="locked" />
					<active value="active" />
					<lastUpdatedDate value="lastUpdatedDate" />
					<isAnonymous value="isAnonymous" />
				</predefinedProperties>
			</settings>
		</userRepository>
		<userRepository name="DirectoryServiceRepository">
			<userRepositoryFactory
				qualifiedTypeName="nJupiter.DataAccess.Users.DirectoryService.UserRepositoryFactory, nJupiter.DataAccess.Users.DirectoryService"/>
			<settings>
				<directoryService value="nJupiterLDAP" />
				<cache>
					<minutesToCacheUser value="60" />
					<maxUsersInCache value="1000" />
				</cache>
				<predefinedProperties>
					<userName value="sAMAccountName" />
					<fullName value="cn" />
					<firstName value="givenName" />
					<lastName value="sn" />
					<description value="description" />
					<email value="mail" />
					<telephone value="telephoneNumber" />
				</predefinedProperties>				
			</settings>
		</userRepository>
	</userRepositories>
</configuration>
