<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<dataSources>
		<dataSource value="SQLAdapter" default="true">
			<assemblyPath value=""/>
			<assembly value="nJupiter.DataAccess"/>
			<type value="nJupiter.DataAccess.Sql.SqlDataSource"/>
			<settings>
				<connectionString value="Data Source=sto-2kgc00;Database=nJupiterUnitTests_Internal;User Id=nJupiter-db;Password=pass123;" />
			</settings>
		</dataSource>
		<dataSource value="forum">
			<assemblyPath value=""/>
			<assembly value="nJupiter.DataAccess"/>
			<type value="nJupiter.DataAccess.Sql.SqlDataSource"/>
			<settings>
				<connectionString value="Data Source=sto-kaixw4400\sqlexpress;Database=FORUM_Trunk;User Id=nJupiter-db;Password=pass123;Enlist=False;" />
			</settings>
		</dataSource>
	</dataSources>
</configuration>