<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<webService>
		<messageConsumer>
			<assembly value=""/>
			<classname value=""/>
		</messageConsumer>
	</webService>
	<messageServices>
		<messageService value="server">
			<assemblyPath value=""/>
			<assembly value="nJupiter.Messaging"/>
			<type value="nJupiter.Messaging.Adapters.RemoteMessageService"/>
			<settings>
        <port>1120</port> 
				<uri value="tcp://localhost:1120/RemoteMessageService"/>
				<messageDirectory value="c:\Projects\Messaging\Messages\"/>
				<consumerFilename value="C:\Projects\Messaging\MessageConsumers\consumers.xml"/>
			</settings>
		</messageService>
		<messageService value="WS" default="true">
			<assemblyPath value=""/>
			<assembly value="nJupiter.Messaging"/>
			<type value="nJupiter.Messaging.Adapters.WSMessageService"/>
			<settings>
				<uri value="http://localhost/Messaging.asmx"/>
			</settings>
		</messageService>
	</messageServices>
</configuration>