<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<logger name="nJupiter">
			<level value="WARN" />
			<!-- appender-ref ref="EventLogAppender" /-->
			<!--appender-ref ref="SmtpAppender" /-->
			<appender-ref ref="FileAppender" />
			<!-- appender-ref ref="ConsoleAppender" / -->
		</logger>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\Projects\nJupiter\LogFiles\nJupiter.log" />
			<appendToFile value="true" />
			<lockingModel value="log4net.Appender.FileAppender.MinimalLock" />
			<maximumFileSize value="1000KB" />
			<maxSizeRollBackups value="20" />
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="DEBUG" />
				<levelMax value="FATAL" />
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%newline%date{ISO8601} [%thread] %-5level %logger% [%property{UserHostAddress}] [%property{Url}] - %message%newline" />
			</layout>
		</appender>
		<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
			<applicationName value="nJupiter" />
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="WARN" />
				<levelMax value="FATAL" />
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
			</layout>
		</appender>
		<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
			<to value="m4@njupiter.org" />
			<from value="admin@njupiter.org" />
			<subject value="nJupiter Error Report" />
			<smtpHost value="localhost" />
			<bufferSize value="512" />
			<lossy value="true" />
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="ERROR" />
			</evaluator>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="Date: %date{ISO8601}%newlineHostName: %property{log4net:HostName}%newlineUrl: %property{Url}%newlineUserHostAddress: %property{UserHostAddress}%newlineUserAgent: %property{UserAgent}%newlineLevel:%level%newlineLogger: %logger%newlineThread: %thread%newlineNDC: %ndc%newlineMessage: %message%newline%newline" />
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
			</layout>
		</appender>
	</log4net>
</configuration>

