<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!-- nJupiter.Configuration Config start -->
	    <section name="nJupiterConfiguration" type="nJupiter.Configuration.nJupiterConfigurationSectionHandler, nJupiter.Configuration" />
	</configSections>
	<nJupiterConfiguration>
		<configDirectories>
			<configDirectory value="C:\Projects\nJupiter\Development\Shared Resources\Config" />
		</configDirectories>
	</nJupiterConfiguration>
</configuration>
