<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<mailConfig>
		<smtpServer value="localhost" userName="" password="" />
	</mailConfig>
	<serverConfig>
		<enableLastModifiedHttpHeaders value="false" />
		<enableXhtmlContentNegotiation value="false" />
		<crossSiteRedirection value="false" >
			<excludedHosts>
				<host value="localhost" />
			</excludedHosts>
		</crossSiteRedirection>
		<controlAdapters> <!-- Examples how to exclude ControlAdapters from paths -->
			<controlAdapter name="*"> <!-- Excludes all nJupiter Control Adapters from the paths below -->
				<excludedPaths>
					<path value="/cms/" />
					<path value="/util/" />
				</excludedPaths>
			</controlAdapter> <!-- Excludes the HtmlFormAdapter Control Adapters from all pages under the path login -->
			<controlAdapter name="nJupiter.Web.UI.ControlAdapters.HtmlFormAdapter">
				<excludedPaths>
					<path value="/login/" />
				</excludedPaths>
			</controlAdapter>
		</controlAdapters>		
	</serverConfig>
	<cultureConfig>
		<!-- Remove cultures of which you do not want to change any of the default values -->
		<culture value="sv-SE">
			<dateTimeFormat>
				<!-- Here is an example of everything you can configure beneath this element -->
				<!-- You can remove the parameters you do not want to change from the cultures default values -->
				<!-- Remove the whole element if you do not want to change any dateTimeFormat values for the current culture -->
				<dayNames>
					<!-- This has to be an array with the length 7 -->
					<dayName value="söndag" />
					<dayName value="måndag" />
					<dayName value="tisdag" />
					<dayName value="onsdag" />
					<dayName value="torsdag" />
					<dayName value="fredag" />
					<dayName value="lördag" />
				</dayNames>
				<abbreviatedDayNames>
					<!-- This has to be an array with the length 7 -->
					<abbreviatedDayName value="sö" />
					<abbreviatedDayName value="må" />
					<abbreviatedDayName value="ti" />
					<abbreviatedDayName value="on" />
					<abbreviatedDayName value="to" />
					<abbreviatedDayName value="fr" />
					<abbreviatedDayName value="lö" />
				</abbreviatedDayNames>
				<shortestDayNames>
					<!-- This has to be an array with the length 7 -->
					<shortestDayName value="sö" />
					<shortestDayName value="må" />
					<shortestDayName value="ti" />
					<shortestDayName value="on" />
					<shortestDayName value="to" />
					<shortestDayName value="fr" />
					<shortestDayName value="lö" />
				</shortestDayNames>
				<monthNames>
					<!-- This has to be an array with the length 13 -->
					<monthName value="januari" />
					<monthName value="februari" />
					<monthName value="mars" />
					<monthName value="april" />
					<monthName value="maj" />
					<monthName value="juni" />
					<monthName value="juli" />
					<monthName value="augusti" />
					<monthName value="september" />
					<monthName value="oktober" />
					<monthName value="november" />
					<monthName value="december" />
					<monthName value="" />
				</monthNames>
				<monthGenitiveNames>
					<!-- This has to be an array with the length 13 -->
					<!-- This is only used in .NET2.0+ -->
					<monthGenitiveName value="januari" />
					<monthGenitiveName value="februari" />
					<monthGenitiveName value="mars" />
					<monthGenitiveName value="april" />
					<monthGenitiveName value="maj" />
					<monthGenitiveName value="juni" />
					<monthGenitiveName value="juli" />
					<monthGenitiveName value="augusti" />
					<monthGenitiveName value="september" />
					<monthGenitiveName value="oktober" />
					<monthGenitiveName value="november" />
					<monthGenitiveName value="december" />
					<monthGenitiveName value="" />
				</monthGenitiveNames>
				<abbreviatedMonthNames>
					<!-- This has to be an array with the length 13 -->
					<abbreviatedMonthName value="jan" />
					<abbreviatedMonthName value="feb" />
					<abbreviatedMonthName value="mar" />
					<abbreviatedMonthName value="apr" />
					<abbreviatedMonthName value="maj" />
					<abbreviatedMonthName value="jun" />
					<abbreviatedMonthName value="jul" />
					<abbreviatedMonthName value="aug" />
					<abbreviatedMonthName value="sep" />
					<abbreviatedMonthName value="okt" />
					<abbreviatedMonthName value="nov" />
					<abbreviatedMonthName value="dec" />
					<abbreviatedMonthName value="" />
				</abbreviatedMonthNames>
				<abbreviatedMonthGenitiveNames>
					<!-- This has to be an array with the length 13 -->
					<!-- This is only used in .NET2.0+ -->
					<abbreviatedMonthGenitiveName value="jan" />
					<abbreviatedMonthGenitiveName value="feb" />
					<abbreviatedMonthGenitiveName value="mar" />
					<abbreviatedMonthGenitiveName value="apr" />
					<abbreviatedMonthGenitiveName value="maj" />
					<abbreviatedMonthGenitiveName value="jun" />
					<abbreviatedMonthGenitiveName value="jul" />
					<abbreviatedMonthGenitiveName value="aug" />
					<abbreviatedMonthGenitiveName value="sep" />
					<abbreviatedMonthGenitiveName value="okt" />
					<abbreviatedMonthGenitiveName value="nov" />
					<abbreviatedMonthGenitiveName value="dec" />
					<abbreviatedMonthGenitiveName value="" />
				</abbreviatedMonthGenitiveNames>
				<calendarWeekRule value="FirstFourDayWeek" />
				<firstDayOfWeek value="Monday" />
				<amDesignator value="" />
				<dateSeparator value="-" />
				<fullDateTimePattern value="'den 'd MMMM yyyy HH:mm:ss" />
				<longDatePattern value="'den 'd MMMM yyyy" />
				<longTimePattern value="HH:mm:ss" />
				<monthDayPattern value="'den 'd MMMM" />
				<pmDesignator value="" />
				<shortDatePattern value="yyyy-MM-dd" />
				<shortTimePattern value="HH:mm" />
				<timeSeparator value=":" />
				<yearMonthPattern value="MMMM yyyy" />
			</dateTimeFormat>
			<numberFormat>
				<!-- Here is an example of everything you can configure beneath this element -->
				<!-- You can remove the parameters you do not want to change from the cultures default values -->
				<!-- Remove the whole element if you do not want to change any numberFormat values for the current culture -->
				<currencyDecimalDigits value="2" />
				<currencyDecimalSeparator value="," />
				<currencyGroupSeparator value="." />
				<currencyNegativePattern value="8" />
				<currencyPositivePattern value="3" />
				<currencySymbol value="kr" />
				<nanSymbol value="NaN" />
				<negativeInfinitySymbol value="-INF" />
				<negativeSign value="-" />
				<numberDecimalDigits value="2" />
				<numberDecimalSeparator value="." />
				<numberGroupSeparator value="," />
				<numberNegativePattern value="1" />
				<percentDecimalDigits value="2" />
				<percentDecimalSeparator value="," />
				<percentGroupSeparator value=" " />
				<percentNegativePattern value="0" />
				<percentPositivePattern value="0" />
				<percentSymbol value="%" />
				<perMilleSymbol value="‰" />
				<positiveInfinitySymbol value="INF" />
				<positiveSign value="+" />

				<!-- This is only used in .NET2.0+ -->
				<digitSubstitution value="None" />

				<percentGroupSizes>
					<percentGroupSize value="3" />
				</percentGroupSizes>
				<numberGroupSizes>
					<numberGroupSize value="3" />
				</numberGroupSizes>
				<nativeDigits>
					<!-- This is only used in .NET2.0+ -->
					<nativeDigit value="0" />
					<nativeDigit value="1" />
					<nativeDigit value="2" />
					<nativeDigit value="3" />
					<nativeDigit value="4" />
					<nativeDigit value="5" />
					<nativeDigit value="6" />
					<nativeDigit value="7" />
					<nativeDigit value="8" />
					<nativeDigit value="9" />
				</nativeDigits>
				<currencyGroupSizes>
					<currencyGroupSize value="3" />
				</currencyGroupSizes>
			</numberFormat>
		</culture>
	</cultureConfig>
	<imageScaleConfig>
		<smoothingMode value="HighSpeed" /><!-- AntiAlias, Default, HighQuality, HighSpeed, Invalid, None -->
		<interpolationMode value="Default" /><!-- Bicubic, Bilinear, Default, High, HighQualityBicubic, HighQualityBilinear, Invalid, Low, NearestNeighbor -->
		<pixelOffsetMode value="HighSpeed" /><!-- Default, Half, HighQuality, HighSpeed, Invalid, None -->
	</imageScaleConfig>
</configuration>