<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<forumDAOs>
		<forumDAO value="default" default="true">
			<assemblyPath value=""/>
			<assembly value="nJupiter.Services.Forum"/>
			<type value="nJupiter.Services.Forum.ForumSqlDao"/>
			<settings>
				<dataSource value="forum"/>
			</settings>
		</forumDAO>
	</forumDAOs>
</configuration>